extends ../layout

block content
  style.
    .debtButton {
      margin-bottom: 10px;
    }
  .page-header
    h3.center Debt
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .group
        input(type='searchFriend', name='searchFriend', id='searchFriend', placeholder='', autofocus, required)
        span.highlight
        span.bar
        label.labels(for='name') Add Friend
    .form-group
      button.btn.btn-primary(type='submit')
        | Search
  if search
    if search.picture
      img(src='#{search.picture}')
    else
      img(src='#{search.gravatar(60)}')
    p #{search.name}
    p #{search.email}
    form(action='/debt/add', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.section(type='submit')
        | Add

  - for (var x = 0; x < user.friendsList.length; x++)
    .group-section
      p= user.friendsList[x].name
      p= user.friendsList[x].debt
      if user.friendsList[x].picture
        img(src='#{user.friendsList[x].picture}')
        //  ul.dropdown-debt
            li
              input(name='h', value= j)
              input(name='name', value= user.friendsList[x].name)
              input.white(type='amount', name='amount', id='amount', placeholder='$0.00', required)
              label.label(for='amount') Amount
            li.divider
            li
              input.white(type='message', name='message', id='message', placeholder='Message', required)
              label.label(for='message') What's it for?
              button.debtButton.btn.btn-primary(type='submit')
                | Submit Debt
                // -
  form(action='/debt/new', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .group
      input(type='friend', name='friend', id='friend', placeholder='', required)
      span.highlight
      span.bar
      label.labels(for='friend') Friend
    .group
      input(type='amount', name='amount', id='amount', placeholder='$0.00', required)
      span.highlight
      span.bar
      label.labels(for='amount') amount
    .group
      input(type='message', name='message', id='message', placeholder='', required)
      span.highlight
      span.bar
      label.labels(for='message') Message
      button.debt.Button.btn.btn-primary(type='submit')
        | Submit Debt
